body{
    background-color: #E5E5E5;
    font-family: 'Inter', sans-serif;
    line-height: 1;
}
.encabezado{
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}
.logo-alura {
    margin: 0;
    height: 35px;
    width: 25px;
    color: #0A3871;
}
.encabezado_modo-oscuro{
    width: 50px;
    height: 50px;
}
.texto-input{
    display: block;
    width: 90%;
    height: 200px;
    margin: 10px auto;
    font-size: 20px;
    color: #0A3871;
    border: none;
    background-color: #E5E5E5;
    resize: none;
}
.texto-input:hover{
    /* border: none; */
    border: 1px solid #0A3871;
}
.texto-input::placeholder{
    font-weight: 700;
    text-align: center;
}

/* iconos y texto de informacion */
.info{
    margin-top: 150px;
    width: 20px;
    height: 20px;
    margin-left: 20px;
}
.info_texto{
    font-weight: 400;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #747679;
    
}

/* Botones */
.botones{
    margin-bottom: 25px;
    width: 100%;
}
.boton-encriptar{
    color: #ffffff;
    border-radius: 20px;
    margin: 5px auto;
    font-weight: 700;
    width: 70%;
    height: 50px;
    display: block;
    background-color: #0A3871;
    transition: 0.5s all;
}
.boton-desencriptar{
    margin: 15px auto;
    width: 70%;
    height: 50px;
    display: block;
    border-radius: 20px;
    font-weight: 700;
    color: #0A3871;
    border: 1px solid #0A3871;
    transition: 0.5s all;
}
/* .boton-encriptar:hover{
    cursor: pointer;
    transform: scale(0.8);
}
.boton-desencriptar:hover{
    cursor: pointer;
    transform: scale(0.8);
} */
/* Mensaje del area de texto */
.mensaje{
    padding: 30px 10px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    width: 90%;
    height: 200px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 20px;
    color: #04254d;
}
.resultado{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 10px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    width: 90%;
    height: 400px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 20px;
    color: #04254d;
}
.resultado-textarea{
    font-size: 20px;
    color: #0A3871;
    border: none;
    background-color: #FFFFFF;
    resize: none;
}
.ocultar{
    box-sizing: border-box;
    display: none;
} 
.mensaje-principal{
    font-size: 30px;
}
.mensaje_parrafo {
    font-size: 23px;
}
#btn-copiar{
    height: 50px;
    width: 40%;
    border-radius: 20px;
    background-color: #04254d;
    color: #E5E5E5;
    font-family:  'Inter', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}
footer{
    text-align: center;
    color: #0A3871;
    margin-bottom: 0px;
}
.imagen-texto img{
    display: none;
}

/* MEDIA QUERIES */
@media screen and (min-width: 490px) {
    .botones{
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .boton-desencriptar{
        width: 45%;   
    }
    .boton-encriptar{
        width: 45%;
    }
}

@media screen and (min-width: 800px) {
    .contenedor{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1200px;
        margin: auto;
        height: 100%;
    }
    
    .contenedor-encriptador{
        width: 75%;
        height: 100%;
    }  
    .mensaje{
        margin: auto;
        width: 25%;
        height: 100%;
    }
    .resultado{
        margin: auto;
        width: 25%;
        height: 100%;
    }
    #resultado{
        height: 250px;
        font-size: 20px;
        justify-content: space-between;
    }
    
    .botones{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
    }
    .boton-desencriptar{
        width: 40%;
        
    }
    .boton-encriptar{
        width: 40%;
    }
    .imagen-texto img{
        display: block;
        height: 250px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .info_texto{
        margin-bottom: 0px;
    }
    .encabezado{
        max-width: 1400px;
        margin: auto;
    }
    #btn-copiar{
        width: 80%;
    }

}
